*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;

}

body{
  background-color: rgba(231, 227, 227, 0.945);
  
    /* background-color: rgba(228, 223, 223, 0.774); */
}
.header {
    width:100%;
    height:100vh;
   
}
.img_logo{
    width:127px;
    opacity: 90%;
}

.nav-item{
    margin:20px 2px;
}

.nav-item .nav-link{
    color:rgba(0,0,0,0.733);
    /* color: #fff; */
    font-weight: 500;
    font-size: 24px;
}

.active{
    color: rgb(236,191,10) !important;
}
.nav-link:hover{
    color: rgb(236,191,10);
}
.btn-navbar{
    display:inline-block;
    padding:8px 39px;
    background-color: rgb(236,191,10);
    color:#fff;
    text-decoration: none;
    font-size: 24px;
    font-weight:500 ;
    border: 1px solid rgb(236,191,10);
    border-radius: 50px;
    margin: -2px 14px;
    transition: 0.2s ease-in;
}
.btn_navbar:hover{
    background-color: rgb(252,203,9);

}
.home{
    width:100%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(0 , 0, 0, 0.564) !important;
    position: relative;
    /* background-color: rgba(226, 222, 222, 0.616); */
}

.home_container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.heading_sm{
    font-size: 25px;
    font-weight: 600;
    color: rgba(52,52,53,0.61);
    margin: 10px 0px;

}

.heading_lg{
    font-size:84px;
    font-weight: 800;
    margin: 22px 0px;
    letter-spacing: 1px;

}
.heading_lg span{
    color: rgb(76,124,255);

}

.heading_md{
    font-size: 16px;
    font-weight: 500;
    color: rgba(46,46,46,0.806);
    margin-top: -13px;
}

.img_home{
    width: 600px;
    /* margin-top: 50px; */

   opacity: 99%;
}

.btn_home{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(46,45,45);
    padding: 12px 32px;
    color: white;
    margin:28px 4px;
    font-weight: 600;
    border-radius: 50px;
}
.btn_home:hover{
    background-color: rgb(21,20,20);
}


.btn-2{
    background-color: rgb(253,68,68);
}


.btn-navbar:hover{
    color: blanchedalmond;
}

.icon_social{
    font-size: 17px;
    padding: 12px 14px;
    color:rgb(236,191,10);
    border: 2px solid rgb(236,191,10);
    border-radius: 30px;
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.icon_social:hover{
    background-color: rgb(255,158,31);
    color:white;
}

.detail_container{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform:translateX(-50%);
    border-radius: 300px;
    border: 1px solid #dee2e6;
    box-shadow: 0px 0px 30px rgb(173,181,189 / 40%);
    width: 660px;
    height: 110px;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6px;

}

.clients{
    text-align: center;
}

.heading_details{
    font-size: 30px ;
    font-weight: 600;
}

.para_details{
    font-size: 13px;
}

.about{
    width: 100%;
    height: 100vh;
    
}

.heads{
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ed0000;
    background:linear-gradient(to right,#ed0000 42%, #6850de 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    /* padding-top: 50px;*/
    padding-bottom: 62px;
} 


.heads::after{
    content:'';
    position: absolute;
    bottom:50px;
    left:50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background-color: red;
}
.img-about{
    width: 5200px;
   
}

.img_about_border{
    border: 2px solid rgb(253,68,68) ;
    margin-left: 84px;
}
.content_about{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
}

.heading_about{
    font-size: 44px;
    font-weight: 400;
}



.para_about{
    color:rgb(210,37,37);
    font-size: 18px;
}

.para_text{
    font-size:15px;
    font-weight: 600;
    color:rgba(0,0,0,0.55);
    line-height: 28px;
    max-width: 600px;
}

.items{
    margin:8px 0px;
    list-style: none;
    /* position: relative; */
}
.items b{
    font-weight: 600;
    font-size: 16px;
    color: rgba(46,46,46,0.822);

}

.items span{
    margin: 0px 3px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,0.726)
}

.list{
    position: relative;
}

.list::after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 8px;
    width: 1px;
    height: 90%;
    background-color: #cacdd6;
    margin: auto;
    z-index: -1;
}

.items::before{
    content:'';
    position: absolute;
    left: 3px;
    margin: 6px 0px;
    width:12px;
    height: 12px;
    background-color: white;
    border: 2px solid rgb(190,20,20);
    border-radius: 50%;
}
.btn_about{
    display: inline-block !important;
    padding: 11px 37px;
    text-decoration: none;
    color: rgb(190,20,20);
    border: 2px solid rgb(190,20,20);
    width: 180px;
    margin: 12px 0px;
    font-weight: 600;
    border-radius: 3px;   
    position: relative;
    z-index: 77;
}

.btn_about span{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(190,20,20);
    width: 0%;
    height: 100%;
    z-index: -77;
    transition: 0.7s ease;
}

.btn_about:hover span{
    width:100%;

}

.btn_about:hover{
    color: white;
}


.services{
    width: 100%;
    height: 160vh;

}

.headings{
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ed0000;
    background:linear-gradient(to right,#ed0000 42%, #6850de 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding-top: 50px;
}

.headings::after{
    content:'';
    position: absolute;
    bottom:-14px;
    left:50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background-color: red;
}

.para_services{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color:rgba(0,0,0,0.582);
    line-height:29px;
    max-width:680px;
     margin:29px auto;

}


.service_container{
    padding: 37px 0px;

}


.content_services{
    display:flex;
    
}

.icon_service{
    margin:0px 24px;

}

.service_icons{
    font-size: 25px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 100%;
    color: #e73131;
    transition: background-color 400ms ;

}

.content_services:hover .service_icons{
    background-color: red;
    color: white;
}

.heading_text{
    font-size:19px;
    font-weight: 600;
    color:rgba(0,0,0,0.829);


}

.para_text{
    font-size:14px;
    font-weight: 600;
    color: rgba(0,0,0,0.59);
    line-height: 25px;
}

.skills{
    width: 72%;
    /* border: 1px solid red; */
    margin: auto;
   /* margin-right:155px; */
    /* padding-left: 20px;
    padding-right: 20px; */
}

.skill_left{
    padding-left: 93px;
}

.heading_skills{
    text-align:center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.616);
    font-weight: 400;
    margin: 20px 0px;
}

.heading_text{
    font-size: 22px;
    font-weight: 400;
    margin:16px 0px;
    margin-left: 55px 0;

}

/* .content-skills{
   
} */

.coding_heading{
    font-size: 15px;
    color:rgba(0, 0, 0, 0.801);
    font-weight: 600;
    margin:6px;
}

.progress_container{
    height:25px;
    padding: 2px;
    border-radius:80px;
    background-color: white;
    border:2px solid rgb(219,5,5);
    width:80%;
    margin-bottom: 19px;

}

.progress_bar{
    background-color: rgb(219,5,5);
    color: white;
    border-radius: 50px;
}


.project{
    width:70%;
    height: 100vh;
    margin: auto;
}

.project_container{
    margin-top: 30px;
    padding-top:55px ;
}

.content_project{
    background-color: white;
    width: 320px;
    height: 380px;
    /* border:1px solid rgb(119, 115, 115); */
    box-shadow: 0px 4px 30px rgb(140 152 164 / 20%);
margin-left: 40px;
transition: 0.2s ease-in;

}

.img-project{
    width: 100%;
    height: 240px;
}

.img_content_project{
width: 100%;
height: 100%;
}



.project_category{
display: inline-block;
text-decoration: none;
color: rgba(231,27,27,0.961);
font-size: 17px;
margin: 4px 12px;
margin-top: 20px;

}

.heading_content_project{
    font-size: 21px;
    line-height: 34px;
    margin: 6px 12px;
    color: rgba(0, 0, 0, 0.616);
}


.para_project{
    font-size: 13px;
    margin: 2px 12px;
    color: rgba(0, 0, 0, 0.621);
    font-weight: 400;
}

.content_project_2{
    height: 410px;
}
.content_project:hover{
    box-shadow:0px 8px 30px rgba(124, 134, 145, 0.594);
    cursor: pointer;

}
.btn_project{
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgb(253,68,68);
    width: 140px;
    margin:63px auto;
    padding: 13px 0px;
    border-radius: 6px;
    color: white;
}

footer{
    Width:100%;
    height:10vh;
    background-color: #171925;
    display: flex;
    align-items: center;
}

footer span{
    color: rgba(255,255,255,0.829);
}
